.DictionaryPhonetics a {
  border: 1px solid #352f44;
  color: #352f44;
  text-decoration: none;
  padding: 4px 8px;
  font-size: 11px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
}

.DictionaryPhonetics a:hover {
  background: #5c5470;
  color: white;
}

.DictionaryPhonetics .text {
  color: #352f44;
  position: relative;
  font-weight: bold;
  left: 60px;
  bottom: 22px;
}
